body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('star.jpg');
  background-size: cover 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*LOGO STAR WARS*/
.logo{
  width: 30%;
}
/*ESTILO DO CARD*/
.card{
  background: rgba(255,255,255,0.13);
  border: 3px solid #FFC500;
  width: 70%;
  margin: 0 auto;
  color: #FFC500
}
.card-header, .card-footer{
  border-color: #ccc;
}
.card p{
  font-weight: bold;
  font-size: 25px;
}
.card span{
  float: right;
  font-weight: bold;
  font-size: 30px
}
/*FILMES*/
#collapse{
  cursor: pointer
}
/*ANIMAÇÃO*/
.anime{
  position:relative;
  animation: arrow 0.5s ease-in-out infinite alternate
}
@keyframes arrow{
  0%{top:0}
  100%{top:10px}
}

/*BOTÃO PRÓXIMO*/
.next{
  color: #000;
  background: #ccc;
  width: 40%;
  border: solid 2px #ccc;
  font-size: 16px;
  font-weight: 600
}
.next:hover{
  background: transparent;
  color: #ccc 
}

/*TABLETS*/
@media screen and (max-width:1024px){
  .card{
    width: 85%;
    margin: 10rem auto 
  }
}
/*CELULARES*/
@media screen and (max-width:610px){
  .card{
    min-width: 100%;
    margin: 0 auto;
  } 
  .logo{
    width: 20rem;
  }

  .card span{
    font-size: 25px
  }
}

